html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #9b9b9b;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

/* Контейнер для слайдера — обмежує ширину і центрує */
.slider-container {
  max-width: 900px; /* Максимальна ширина */
  margin: 0 auto;   /* Центрування по горизонталі */
  padding: 10px 0;  /* Відступ зверху і знизу */
}

.swiper {
  width: 90%;     /* Займає всю ширину контейнера */
  height: auto;   /* Фіксована висота слайдера */
}

.swiper-slide {
  border-radius: 50%;
  width: 300px;   /* Фіксована ширина слайда */
  height: 300px;  /* Висота слайда */
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.swiper-pagination {
  position: relative;  
  margin-top: 80px;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.6;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background: #ff4081; /* активна кулька */
  opacity: 1;
  transform: scale(1.2); /* трохи збільшується */
}
.slide-info {
  background-color: #ff4081;
  border-radius: 15px;
  width: 240px;
  padding: 5px 0;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  opacity: 0;
  color: #fff;
  text-align: center;
  transition: opacity 0.5s ease;
}

/* Показуємо блок на активному слайді */
.swiper-slide-active .slide-info {
  opacity: 1;
  max-height: 100px;
}

/* Стилі для першого і другого label */
.slide-info label:first-child {
  display: block;
  font-size: 16px;  /* більший шрифт для першого */
  font-weight: bold;
  margin-bottom: 2px;
}

.slide-info label:last-child {
  display: block;
  font-size: 12px;  /* менший шрифт для другого */
  font-weight: normal;
  opacity: 0.9;
}
